<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.peerless2012.sspai"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!--Glide 使用-->
        <meta-data
            android:name="com.peerless2012.sspai.common.glidemodule.OkHttpGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".detail.NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"/>
    </application>

</manifest>